In [0]:
import numpy as np
import pandas as pd

In [81]:
df=pd.read_excel('Data_Train.xlsx')
df.head()

                               Name    Location  Year  ...  Seats  New_Price  Price
0            Maruti Wagon R LXI CNG      Mumbai  2010  ...    5.0        NaN   1.75
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015  ...    5.0        NaN  12.50
2                      Honda Jazz V     Chennai  2011  ...    5.0  8.61 Lakh   4.50
3                 Maruti Ertiga VDI     Chennai  2012  ...    7.0        NaN   6.00
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013  ...    5.0        NaN  17.74

[5 rows x 13 columns]

In [82]:
df.columns

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'Price'],
      dtype='object')

In [83]:
df.shape

(6019, 13)

In [84]:
df.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [85]:
df.Year.unique()

array([2010, 2015, 2011, 2012, 2013, 2016, 2018, 2014, 2017, 2007, 2009,
       2008, 2019, 2006, 2005, 2004, 2002, 2000, 2003, 1999, 2001, 1998])

In [0]:
df.drop(['Name', 'Location', 'New_Price'],axis=1, inplace=True)

In [0]:
y=df['Price']
df.drop('Price', axis=1, inplace=True)

In [88]:
df.head()

   Year  Kilometers_Driven Fuel_Type  ...   Engine      Power Seats
0  2010              72000       CNG  ...   998 CC  58.16 bhp   5.0
1  2015              41000    Diesel  ...  1582 CC  126.2 bhp   5.0
2  2011              46000    Petrol  ...  1199 CC   88.7 bhp   5.0
3  2012              87000    Diesel  ...  1248 CC  88.76 bhp   7.0
4  2013              40670    Diesel  ...  1968 CC  140.8 bhp   5.0

[5 rows x 9 columns]

In [89]:
df.isnull().sum()

Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
dtype: int64

In [0]:
df['Mileage']=df.Mileage.str.extract('(\d+\.\d+)')

In [0]:
df['Engine']=df.Engine.str.extract('(\d+)')

In [0]:
df['Power']=df['Power'].str.extract('(\d*\.?\d*)', expand=False)

In [93]:
df.head()

   Year  Kilometers_Driven Fuel_Type Transmission  ... Mileage Engine  Power Seats
0  2010              72000       CNG       Manual  ...    26.6    998  58.16   5.0
1  2015              41000    Diesel       Manual  ...   19.67   1582  126.2   5.0
2  2011              46000    Petrol       Manual  ...    18.2   1199   88.7   5.0
3  2012              87000    Diesel       Manual  ...   20.77   1248  88.76   7.0
4  2013              40670    Diesel    Automatic  ...    15.2   1968  140.8   5.0

[5 rows x 9 columns]

In [94]:
df.isnull().sum()

Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
dtype: int64

In [0]:
df['Year']=[(2019-i)*365 for i in df.Year]

In [96]:
df.head()

   Year  Kilometers_Driven Fuel_Type Transmission  ... Mileage Engine  Power Seats
0  3285              72000       CNG       Manual  ...    26.6    998  58.16   5.0
1  1460              41000    Diesel       Manual  ...   19.67   1582  126.2   5.0
2  2920              46000    Petrol       Manual  ...    18.2   1199   88.7   5.0
3  2555              87000    Diesel       Manual  ...   20.77   1248  88.76   7.0
4  2190              40670    Diesel    Automatic  ...    15.2   1968  140.8   5.0

[5 rows x 9 columns]

In [0]:
df['Engine'].fillna(df['Engine'].median(), inplace=True)

In [98]:
df.dtypes

Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage               object
Engine                object
Power                 object
Seats                float64
dtype: object

In [0]:
df['Power'] = pd.to_numeric(df['Power'], errors='coerce')

In [0]:
df['Mileage'] = pd.to_numeric(df['Mileage'], errors='coerce')

In [0]:
df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')

In [0]:
df['Power'].fillna(df['Power'].median(), inplace=True)

In [0]:
df['Seats'].fillna(df['Seats'].median(), inplace=True)

In [0]:
df['Mileage'].fillna(df['Mileage'].median(), inplace=True)

In [105]:
df.isnull().sum()

Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
dtype: int64

In [106]:
df.head()

   Year  Kilometers_Driven Fuel_Type  ...  Engine   Power  Seats
0  3285              72000       CNG  ...   998.0   58.16    5.0
1  1460              41000    Diesel  ...  1582.0  126.20    5.0
2  2920              46000    Petrol  ...  1199.0   88.70    5.0
3  2555              87000    Diesel  ...  1248.0   88.76    7.0
4  2190              40670    Diesel  ...  1968.0  140.80    5.0

[5 rows x 9 columns]

In [0]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df['Kilometers_Driven']=scaler.fit_transform(df.iloc[:,1:2])

In [0]:
df['Engine']=scaler.fit_transform(df.iloc[:,6:7])

In [112]:
df.head()

   Year  Kilometers_Driven Fuel_Type  ...    Engine   Power  Seats
0  3285           0.011051       CNG  ...  0.156261   58.16    5.0
1  1460           0.006282    Diesel  ...  0.254809  126.20    5.0
2  2920           0.007051    Petrol  ...  0.190179   88.70    5.0
3  2555           0.013359    Diesel  ...  0.198448   88.76    7.0
4  2190           0.006231    Diesel  ...  0.319946  140.80    5.0

[5 rows x 9 columns]

In [0]:
owner_type_dummy=pd.get_dummies(df['Owner_Type'])

In [0]:
owner_type_dummy.drop('First', axis=1, inplace=True)

In [0]:
fuel_type_dummy=pd.get_dummies(df['Fuel_Type'])

In [0]:
transmission_dummy=pd.get_dummies(df['Transmission'])

In [0]:
x=[owner_type_dummy, fuel_type_dummy, transmission_dummy, df]

In [0]:
X=pd.concat(x,  axis=1)

In [119]:
X.head()

   Fourth & Above  Second  Third  CNG  ...  Mileage    Engine   Power  Seats
0               0       0      0    1  ...    26.60  0.156261   58.16    5.0
1               0       0      0    0  ...    19.67  0.254809  126.20    5.0
2               0       0      0    0  ...    18.20  0.190179   88.70    5.0
3               0       0      0    0  ...    20.77  0.198448   88.76    7.0
4               0       1      0    0  ...    15.20  0.319946  140.80    5.0

[5 rows x 19 columns]

In [0]:
X.drop(['Owner_Type', 'Fuel_Type', 'Transmission'], axis=1, inplace=True)

In [121]:
X.shape

(6019, 16)

In [122]:
X.isnull().sum()

Fourth & Above       0
Second               0
Third                0
CNG                  0
Diesel               0
Electric             0
LPG                  0
Petrol               0
Automatic            0
Manual               0
Year                 0
Kilometers_Driven    0
Mileage              0
Engine               0
Power                0
Seats                0
dtype: int64

In [123]:
X.head()

   Fourth & Above  Second  Third  CNG  ...  Mileage    Engine   Power  Seats
0               0       0      0    1  ...    26.60  0.156261   58.16    5.0
1               0       0      0    0  ...    19.67  0.254809  126.20    5.0
2               0       0      0    0  ...    18.20  0.190179   88.70    5.0
3               0       0      0    0  ...    20.77  0.198448   88.76    7.0
4               0       1      0    0  ...    15.20  0.319946  140.80    5.0

[5 rows x 16 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2)

In [125]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
regr = AdaBoostRegressor(DecisionTreeRegressor(max_depth=12),
                          n_estimators=300, random_state=10)

regr.fit(X_train, y_train)

AdaBoostRegressor(base_estimator=DecisionTreeRegressor(criterion='mse',
                                                       max_depth=12,
                                                       max_features=None,
                                                       max_leaf_nodes=None,
                                                       min_impurity_decrease=0.0,
                                                       min_impurity_split=None,
                                                       min_samples_leaf=1,
                                                       min_samples_split=2,
                                                       min_weight_fraction_leaf=0.0,
                                                       presort=False,
                                                       random_state=None,
                                                       splitter='best'),
                  learning_rate=1.0, loss='linear', n_estimators=300,
                  random_state=10)

In [0]:
pred=regr.predict(X_test)

In [127]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

mean_squared_error(y_test, pred)

13.03042366234906

In [128]:
mean_absolute_error(y_test, pred)

1.5886722738241905

In [129]:
r2_score(y_test, pred)

0.8849421401790604

In [137]:
test_df=pd.read_excel('Data_Test.xlsx')
test_df.head()

                                        Name    Location  ...  Seats   New_Price
0                    Maruti Alto K10 LXI CNG       Delhi  ...    4.0         NaN
1              Maruti Alto 800 2016-2019 LXI  Coimbatore  ...    5.0         NaN
2  Toyota Innova Crysta Touring Sport 2.4 MT      Mumbai  ...    7.0  25.27 Lakh
3                       Toyota Etios Liva GD   Hyderabad  ...    5.0         NaN
4                          Hyundai i20 Magna      Mumbai  ...    5.0         NaN

[5 rows x 12 columns]

In [0]:
def clean_data(df):
  
  df.drop(['Name', 'Location', 'New_Price'],axis=1, inplace=True)
  
  df['Mileage']=df.Mileage.str.extract('(\d+\.\d+)')
  df['Engine']=df.Engine.str.extract('(\d+)')
  df['Power']=df['Power'].str.extract('(\d*\.?\d*)', expand=False)
  
  df['Year']=[(2019-i)*365 for i in df.Year]
  df['Engine'].fillna(df['Engine'].median(), inplace=True)
  
  df['Power'] = pd.to_numeric(df['Power'], errors='coerce')
  df['Mileage'] = pd.to_numeric(df['Mileage'], errors='coerce')
  df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')
  
  df['Power'].fillna(df['Power'].median(), inplace=True)
  df['Seats'].fillna(df['Seats'].median(), inplace=True)
  df['Mileage'].fillna(df['Mileage'].median(), inplace=True)
  
  df['Kilometers_Driven']=scaler.transform(df.iloc[:,1:2])
  df['Engine']=scaler.transform(df.iloc[:,6:7])
  
  owner_type_dummy=pd.get_dummies(df['Owner_Type'])
  fuel_type_dummy=pd.get_dummies(df['Fuel_Type'])
  transmission_dummy=pd.get_dummies(df['Transmission'])
  
  x=[owner_type_dummy, fuel_type_dummy, transmission_dummy, df]
  X=pd.concat(x,  axis=1)
  
  X.drop(['Owner_Type', 'Fuel_Type', 'Transmission'], axis=1, inplace=True)
  
  return X

In [0]:
processed_test_df=clean_data(test_df)

In [141]:
processed_test_df.head()

   First  Fourth & Above  Second  Third  ...  Mileage    Engine   Power  Seats
0      1               0       0      0  ...    32.26  0.156261   58.20    4.0
1      0               0       1      0  ...    24.70  0.122173   47.30    5.0
2      1               0       0      0  ...    13.68  0.391664  147.80    7.0
3      1               0       0      0  ...    23.59  0.218022   93.70    5.0
4      1               0       0      0  ...    18.50  0.189841   82.85    5.0

[5 rows x 16 columns]

In [0]:
pred_test=regr.predict(processed_test_df)

In [0]:
pred_test=pred_test.round(2)

In [0]:
pd.DataFrame(pred_test).to_excel('Predicting_price_of_used_cars.xlsx')

In [0]:
pred_test1=clf.predict(processed_test_df)

In [0]:
pred_test1=pred_test1.round(2)

In [0]:
pd.DataFrame(pred_test1).to_excel('Predicting_price_of_used_cars1.xlsx')